# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] =  pd.to_datetime(df['date'], format='%Y/%m/%d')

In [4]:
# Data Types
df.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [5]:
# Set the date column as the DataFrame index
DateDF = df.set_index('date')
DateDF.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats
from scipy.stats import ttest_ind

In [7]:
# Filter data for desired months
June_DF = df[df.date.dt.month == 6]
Dec_DF = df[df.date.dt.month == 12]

In [8]:
# Identify the average temperature for June
June_Temp_Mean = June_DF.mean()['tobs']

In [9]:
# Identify the average temperature for December
Dec_Temp_Mean = Dec_DF.mean()['tobs']

In [24]:
# Create collections of temperature data
Dec_DF_SampleMean = Dec_DF.sample(n=100).mean()
Jun_DF_SampleMean = June_DF.sample(n=100).mean()

In [26]:
# Run unpaired t-test of sample collections
ttest_ind(Dec_DF_SampleMean, Jun_DF_SampleMean, equal_var=False)

Ttest_indResult(statistic=-0.043581943968399296, pvalue=0.9692121830287953)

### Analysis

For this t-test, it is best to utilize an independent t-test as we are comparing the averages of two independent groups, in this case the June sample temperatures and December sample temperatures, in order to determine if there is a significant difference (or lack thereof) between the two. Considering that the p-value always rests within the 0.9-1.0 range, this gives a high degree of evidence that the two means are statistically significant.